.main {
  margin-top: 70px;
  width: 90%;
  max-width: 700px;
  display: flex;
  gap: 20px;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
}
.card {
  min-width: 100%;
  scroll-snap-align: start;
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
/* ===== Scrollbar CSS ===== */
/* Firefox */
.main {
  scrollbar-width: auto;
  scrollbar-color: #1976d2 transparent;
}

/* Chrome, Edge, and Safari */
.main::-webkit-scrollbar {
  width: 16px;
}

.main::-webkit-scrollbar-track {
  background: transparent;
}

.main::-webkit-scrollbar-thumb {
  background-color: #1976d2;
  border-radius: 10px;
  border: 3px solid transparent;
}
